body {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}

#disease_map {
  height: 400px;
}

#medicare_map {
  height: 400px;
}

#earthquakeMap {
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}
.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 20px;
  height: 12px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}


.leaflet-popup-content {
  text-align: center;
}

.leaflet-bottom.leaflet-left {
  width: 90%;
}

.leaflet-control-container .leaflet-timeline-controls {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
}